.dashboard {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 4rem;
  min-height: 100vh;
  background: #f9fafb;
  gap: 3rem;
}

.hero {
  max-width: 600px;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: #111827;
}

.hero p {
  font-size: 1.1rem;
  color: #6b7280;
}


.userProfile {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    text-align: center;
  }

  .userProfile {
    margin-top: 1.5rem;
  }
}
