form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth-switch {
  color: #666;
}

.auth-switch a {
  color: #4f46e5;
  font-weight: 500;
  text-decoration: none;
  margin-left: 2px;
}

.auth-switch a:hover {
  text-decoration: underline;
  color: #4338ca;
}

.form-error{
  margin-top: 5px;
  font-size: 13px;
  color: #dc2626;
}

.login-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 13px;
}

.forgot_password{
  color: #666;
  text-decoration: none;
}

.forgot_password:hover {
  text-decoration: underline;
}

.password-toggle-btn {
    position: absolute;
    right: 10px;
    top: 38px;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    padding: 0;
    display: flex;
    align-items: center;
}


